* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero-description,
#intro-container p,
.card-text{
   font-family: "Tenali Ramakrishna", sans-serif;
}
body {
   margin: 0;
   font-family: "poppins", sans-serif;
   background-color:#0b1a0f;

  /* background-color:#a3c9a8; */
  background-position: cover;
  background-repeat: no-repeat;
  
}
.container {
  max-width: 1200px;
  padding: 20px 5px;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#navbar {
  padding: 0;
  margin: 10px;
  border-radius: 40px;
  position:sticky;
background-color:#0b1a0f;
 /* width:100%; */
  /* background-color: white; */
  /* background:#2e8b57; */
  /* background: linear-gradient(125deg, #68ffc0, #00965e); */
  /* border:1px solid white; */
}
#logo a {
  font-size:25px ;
  font-weight: bold;
  color: white;
  text-decoration: none;
  /* padding: 20px 0; */
}
ul {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
}
li {
  color: white;
  list-style: none;
  /* font-size:16px ; */
  font-weight: bold;
}
li a {
  color: white;
  text-decoration: none;
}
li a:hover {
 color :#00ff88;
}
@media (max-width: 320px) {
  #navbar {
    height: auto;
    padding: 0 3px;
    /* position: sticky; */
    /* width:100%;
  */
  }
}
#hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 100px;
  margin: 20px;
}
#hero  p{
  color: white;
  padding: 20px;
  line-height:20px;
  font-size:20px;
}
h1 {
  color: white;
  margin: 10px;
  padding: 10px;
  font-size: 40px;
  font-weight: 800;
}
.name{
  color :#00ff88;
}
h3{
  color: white;
  margin: 8px;
  padding: 10px;
  font-family: "Lora", serif;
  font-size:25px;
}
.hero-description{

  color: #7da898;
  font-size: 13.5px;
  line-height: 1.8;
  max-width: 420px;
  
  /* margin: 18px 0 28px; */
}
.btn {
  margin: 10px;
  padding: 15px;
  width: 50%;
  border: none;
  border-radius: 15px;
  background-color:#2e8b57;
  color:white;
  font-size:18px;
  /* box-shadow: #249467; */
  /* background-color: #2e8b57; */
}
#profile {
  width: 400px;
  height: 300px;
  overflow: hidden;
}
#img1 {
 /* border-radius: 8%; border: 2px solid #15ff9e; */
 
   object-fit: cover;
   object-position: center top;
    border-radius: 60%; 
    border: none; 
    /* box-shadow: none; */

   display: block; 
 
  border: 1px solid #68ffc0;
  /* border: 1px solid #15ff9e; */
}
#aboutus {
  display: flex;
  /* justify-content: space-around; */
   justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* gap: 20px; */
  padding: 80px auto;
  margin-top: 200px;
  /* margin: 40px; */
}
#about-heading {
  /* width: 80%; */
  
  font-family: "Lora", serif; 
  font-size: 20px; 
  font-weight: 700;
  color: white;
  text-align: center;
  display: inline-block;
  padding:12px 100px;
  margin-bottom:25px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* margin: 25px; */

 box-shadow: 0 0 30px rgba(0, 255, 136, 0.2);
  /* background: linear-gradient(125deg, #68ffc0, #00965e); */
  /* border:1px solid white; */
  border-radius: 20px;
}
#intro-container p {
  line-height: 25px;
  color: white;
   font-size:20px;
  padding: 30px 140px;
}
#img2{
   object-fit: cover;
    object-position: center top;
    border-radius: 20%; 
    display: block; 
    border-right-style: inset;
    border-color: #00965e;

}
@media (max-width: 320px) {
  #intro-container p {
    padding: 30px 10px;
  }
}
/* skills */
#skill {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* flex-wrap: wrap; */
  gap: 20px;
  padding-top: 100px;
  margin: 20px;
}
#skill-heading {
  font-family: "Lora", serif; 
  font-size: 20px; 
  font-weight: 700;
  color: white;
  text-align: center;
  display: inline-block;
  padding:12px 100px;
  margin-bottom:25px;
  /* box-shadow: 0 0 30px rgba(0, 255, 136, 0.2); */
  /* background: linear-gradient(125deg, #68ffc0, #00965e); */
  /* border:1px solid white; */
 
  /* width: 50%;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0 auto;
  background: linear-gradient(125deg, #68ffc0, #00965e);
  border:1px solid white; */
  /* border-radius: 20px; */
}
#parent-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 12px;
  margin-top:20px;
}
.card {
  width: 30%;
  padding: 15px;
  background-color:#2e8b57;
  /* background: linear-gradient(125deg, #68ffc0, #00965e); */
  border-radius: 15px;
  text-align: center;
}
.card-title {
  color: white;
  font-size: 20px;
  font-family: "Lora", serif;
}
.card-text {
  color: white;
}
/* footer */
.footer{
  display: flex;
  flex-direction: column;
  align-items:center;
}
.footer p{
  margin-left: 70px;
  font-size:20px;
  color:white;
}
.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px; 
}

.icons svg {
  cursor: pointer;
}

.contact{
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-top: 70px;
}
.form-label{
  color:white;
  font-size:10px;
}
#form{
  width:50%;
background:#2e8b57;
padding:50px  36px;
margin:30px;
border-radius: 20px;
}
.messeage{
  margin: 10px;
  padding: 10px;
  width: 50%;
  border: none;
  border-radius: 15px;
  background-color:white;
  color:black;
  font-size:14px;
}
.project-imges{
  display: flex;
   gap:20px;
  justify-content: center;
  align-items: center;


}
.project-imges img{
  border-radius: 30px;
  width:350px;


  border: 2px solid  #00ff88;
}